:root {
    --primary-color: #c10230;
    --secondary-color: #222222;
    --terciary-color: #6f7271;
    --white-color: #ffffff;
    --links-color: #d3d4df;
}



footer {
    color: var(--white-color);
    
    #left-footer {
        background-color: var(--secondary-palette, #222222);
    }

    #right-footer {
        background-color: var(--primary-palette, #c10230);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        
        li {
            a{
                text-decoration: none;
                color: var(--links-color);
            }
        }
    }
}