{% extends "base.html.j2" %}

{% block title %}Fecha del Evento{% endblock title %}

{% block head %}
{#
<link rel="stylesheet" href="{{ url_for('static', path='css/.css') }}" /> #}
{% endblock head %}

{% block main %}
<a href="/{{ event_id }}/create-date" class="a-button-filled-red">Añadir Fecha</a>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Fecha</th>
            <th>Hora de Inicio</th>
            <th>Hora de Fin</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for date in event_dates %}
        <tr>
            <td>{{ date.id }}</td>
            <td>{{ date.day_date }}</td>
            <td>{{ date.start_time }}</td>
            <td>{{ date.end_time }}</td>
            <td>
                <button onclick="deleteDate({{ date.id }})">Eliminar</button>
                <a href="/events/attendances-users/{{ date.id }}">Asistencia</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock main %}

{% block scripts %}
<script src="{{ url_for('static', path='js/event_operations.js') }}"></script>
{% endblock scripts %}