{% extends "base.html.j2" %}

{% block title %}Inicio{% endblock title %}

{% block main %}
<section class="upcoming-events">
    <div class="flex-center justify-between">
        <h2>
            Próximos Eventos
        </h2>
    </div>


    <ul class="list-upcoming-events">
        {% for event in events %}
        <li>
            {% include "./components/event-card.html.j2" %}
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock main %}

{% block scripts %}
{% if message == "success_inscription" %}
<script>
    Swal.fire({
        title: '¡Gracias Por Inscribirte!',
        text: 'Te has registrado exitosamente en el evento.',
        icon: 'success',
        confirmButtonText: 'Continuar'
    });
</script>
{% endif %}
{% endblock scripts %}