{% extends "base.html.j2" %}

{% block title %}Inicio{% endblock title %}

{% block header %}
<div class="flex-center top-header">
    <img src="{{ url_for('static', path='imgs/LogoUdlaColorTexto.png') }}" alt="Logo UDLA" height="36px" />

    <div>
        <div class="flex items-center space-x-4">
            <a class="a-button-outline-red" style="--padding: 0.2rem 1rem;">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-user">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
                </svg>
            </a>
        </div>
    </div>
</div>
<nav class="bottom-header">
    <a href="#">Home</a>
    <a href="#">Eventos</a>
    <a href="#">Contacto</a>
</nav>
{% endblock header %}

{% block main %}
<section class="hero flex-center">
    <div class="hero-left">
        <h1 class="">
            Descubre emocionantes eventos universitarios
        </h1>
        <a href="#" class="a-button-filled-red" style="--padding: 0 1.7rem 0 2rem;">
            Log In
            <animated-icons
                src="https://animatedicons.co/get-icon?name=Activate&style=minimalistic&token=98bf6abb-a20e-4455-a6cd-c57c4b80012c"
                trigger="loop"
                attributes='{"variationThumbColour":"#536DFE","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":1,"defaultColours":{"group-1":"#000000","group-2":"#C10230FF","background":"#FFFFFF"}}'
                height="50" width="50"></animated-icons>
        </a>
    </div>
    <figure class="hero-right">
        <img src="{{ url_for('static', path='imgs/hero.webp') }}" alt="Imagen de eventos universitarios" />
        <!-- <figcaption>Imagen de eventos universitarios</figcaption> -->
    </figure>
</section>

<!-- Featured Events Section -->
<section class="py-12 bg-white">
    <div class="container mx-auto px-4">
        <div class="flex justify-between items-center mb-8">
            <h2 class="text-3xl font-bold text-gray-800">Eventos relevantes</h2>
            <a href="#" class="text-indigo-600 hover:text-indigo-800 font-medium flex items-center">
                Ver todos <i class="fas fa-arrow-right ml-2"></i>
            </a>
        </div>


        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            {% for event in events %}
            {% include "./components/event-card.html.j2" %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock main %}

{% block scripts %}
<script src="https://animatedicons.co/scripts/embed-animated-icons.js"></script>
{% endblock scripts %}