{% extends "base.html.j2" %}

{% block title %}Registrar Asistencia{% endblock title %}

{% block head %}
{#
<link rel="stylesheet" href="{{ url_for('static', path='css/.css') }}" /> #}
{% endblock head %}

{% block main %}
<ul class="list-upcoming-events">
    <h1>Selecciona un Evento para Registrar Asistencia</h1>
    <p>Se te ha asignado a estos eventos</p>
    {% for event in events %}
    <li>
        <h2>{{ event.name }}</h2>

        {% for date in event.event_dates %}
        <a href="/record-assistant/{{ event.id }}/{{ date.id }}">{{ date.day_date }}</a>
        {% endfor %}
    </li>
    {% endfor %}
</ul>
{% endblock main %}