{% extends "base.html.j2" %}

{% block title %}Términos y Condiciones{% endblock title %}

{% block head %}
<style>
    main {
        padding: 50px;
    }

    ul>li {
        list-style: circle;
    }

    ol>li {
        list-style: decimal;
    }

    li {
        margin-left: 50px;
    }
</style>
{% endblock head %}

{% block header_nav %}
{% endblock header_nav %}

{% block main %}
<p>La Universidad de Las Américas (UDLA), con domicilio en:</p>
<ul>
    <li>UDLA Granados: Av. de los Granados, Quito 170513 - (593 2) 398 1000 ext. 189</li>
    <li>UDLAPark: Vía a Nayón, Quito 170124 - (593 2) 398 1000 ext. 274</li>
</ul>
<p>
    en cumplimiento con la Ley Orgánica de Protección de Datos Personales (LOPDP) del Ecuador, informa a todos los
    usuarios y visitantes que deseen registrarse para participar en nuestros eventos, que se realizará el tratamiento de
    sus datos personales, incluyendo datos sensibles como imágenes biométricas, bajo los siguientes términos:
</p>
<ol>
    <li>
        Los datos personales y biométricos que se recopilan (como imagen facial para reconocimiento) tienen como
        finalidad principal: Verificación de identidad para control de acceso a eventos gratuitos organizados por la
        UDLA y contactar posteriormente a los asistentes con el objetivo de ofrecerles información académica, incluyendo
        recomendaciones de carreras, programas educativos, promociones, y seguimiento institucional.
    </li>
    <li>
        Los datos recolectados incluyen, entre otros: el nombre, apellido, número de cédula o pasaporte, correo
        electrónico, número de teléfono e imagen facial.
    </li>
    <li>
        De acuerdo con el artículo 26 de la LOPDP, el tratamiento de datos sensibles como la imagen facial solo será
        realizado previa obtención del consentimiento explícito e informado del titular, especificando los fines
        detallados en este documento. El consentimiento será registrado de forma digital.
    </li>
    <li>
        Los datos recopilados no serán utilizados para fines distintos a los mencionados en esta política, ni serán
        compartidos con terceros sin autorización previa del titular, salvo por mandato judicial o para el cumplimiento
        de obligaciones legales.
    </li>
    <li>
        Se implementan medidas técnicas y organizativas apropiadas para proteger sus datos personales contra pérdida,
        acceso no autorizado, alteración o destrucción, el acceso a la base de datos estará restringido exclusivamente
        al personal autorizado por la UDLA.
    </li>
    <li>
        En caso de que el usuario se niegue a registrar sus datos biométricos, no se podrá registrar a la página de la
        UDLA.
    </li>
    <li>
        Los datos personales y biométricos serán conservados durante un periodo de 1 año a partir del evento, salvo que
        se indique lo contrario o el titular solicite su eliminación antes de dicho plazo, siempre que no existan
        obligaciones legales en contra.
    </li>
</ol>

{% endblock main %}