{% extends "base.html.j2" %}

{% block title %}Todos los eventos{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='css/table-style.css') }}" />
{% endblock head %}

{% block main %}
<section class="upcoming-events">
    <div class="flex-center justify-between">
        <h2>Usuarios que Asistieron a {{ event_info.name }} el {{ date_info.day_date }}</h2>
    </div>

    {% if registered_events %}
    <div class="staff-table-container">
        <table class="staff-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Identificación</th>
                    <th>Teléfono</th>
                    <th>Hora de asistencia</th>
                </tr>
            </thead>
            <tbody>
                {% for person in registered_events %}
                <tr id="event-row-{{ person.user.id }}">
                    <td>{{ person.user.id }}</td>
                    <td>{{ person.user.first_name }} {{ person.user.last_name }}</td>
                    <td>{{ person.user.email }}</td>
                    <td>{{ person.user.assistant.id_number }}</td>
                    <td>{{ person.user.assistant.phone }}</td>
                    <td>{{ person.attendance.arrival_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="no-staff">
        <p>No hay gente registrada.</p>
    </div>
    {% endif %}
</section>
{% endblock main %}

{% block scripts %}
<script src="{{ url_for('static', path='js/event_operations.js') }}"></script>
{% endblock scripts %}